:root {
  --color-text: #515151;
  --color-text-emphasize: #333333;
  --color-text-lighter: rgba(0, 0, 0, 0.4);
  --color-text-solight: rgba(0, 0, 0, 0.16);
  --color-background: #ffffff;
  --color-background-inner: rgba(255, 255, 255, 0.8);
  --color-decoration: rgba(0, 0, 0, 0.04);
  --color-decoration-darker: rgba(0, 0, 0, 0.08);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: rgba(255, 255, 255, 0.6);
    --color-text-emphasize: #EEEEEE;
    --color-text-lighter: rgba(255, 255, 255, 0.4);
    --color-text-solight: rgba(255, 255, 255, 0.16);
    --color-background: #222222;
    --color-background-inner: rgba(#{hexToRGB(#222222)}, 0.8);
    --color-decoration: rgba(255, 255, 255, 0.04);
    --color-decoration-darker: rgba(255, 255, 255, 0.08);
  }
}
a {
  text-decoration: none;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
}
body {
  font: 400 16px/1.6 PingFang SC, Lantinghei SC, Microsoft Yahei,
    Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  margin: 0;
  padding: 10vh 10vw;
  min-height: 100vh;
  box-sizing: border-box;
  background: var(--color-background);
}
h1 {
  font-size: 2.4rem;
  color: var(--color-text-emphasize);
  font-weight: bold;
  margin-bottom: 1.6rem;
}

h1 span {
  display: block;
}
.inline-block {
  display: inline-block;
}

h1 .name {
  margin: 0;
  font-weight: bold;
  text-shadow: 2px 2px 0 #efefef;
}

h1 .hell {
  padding-right: 10px;
  animation-name: hello;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

.line {
  font-size: 1.4rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}
.home a {
  display: inline-block;
  margin-top: 2.4rem;
  margin-right: 0.45rem;
  padding: 0.3rem 0.8rem;
  background: var(--color-decoration);
  border-radius: 4px;
  font-size: 1.1rem;
  color: var(--color-text-lighter);
  transition: all 0.3s ease;
}
.home a:hover {
  background: var(--color-text);
  color: var(--color-background);
}

@keyframes hello {
  from,50%,to {
      transform: rotate(0deg)
  }

  10%,30% {
      transform: rotate(-10deg)
  }

  20% {
      transform: rotate(12deg)
  }

  40% {
      transform: rotate(9deg)
  }
}